* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}
body {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.6;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

header {
  padding: 100px 20px;
  text-align: center;
  color: rgb(0, 0, 0);
}
header h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  font-weight: 400;
  font-style:normal;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
header p {
  font-size: 1.4rem;
  margin-bottom: 30px;
}

/*Home page*/
.navbar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.485);
  padding: 25px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
  margin: 0 20px;
  position: relative;
  transition: color 0.3 ease;
}
.navbar a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

.navbar a:hover {
  color: #ffffff;
}

.navbar a:hover::after {
  width: 100%;
}

.background-pic {
  background-image: url(bakgrund1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.contact-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  transition: backround-color 0.3s;
  text-transform: uppercase;
  text-decoration: none;
}
.contact-button:hover {
  background-color: #034e9dac;
  transform: scale(1.05);
}

.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin-bottom: 190px;
}
.feature-link {
  margin: 20px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0 0px 15px rgba(247, 245, 245, 0.644);
  text-decoration: none;
  color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  cursor: pointer;
}
.feature-link:hover {
  transform: translateY(-5px);
  color: #007bff;
}
.feature-link p {
  color: #0909096c;
}
.feature p {
  justify-content: center;
  text-align: center;
  color: #f4f4f4;
}

footer {
  background-color: rgba(0, 0, 0, 0.485);
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}

/*about page*/
.about-background {
  background-image: url(bakgrund1.jpg);
  background-size: cover;
  background-position: center 35%;
  background-repeat: no-repeat;
}
.profile-pic {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 12px;
}
.margin-name{
margin-bottom: 3rem;
}
.about-text {
  display: grid;
  justify-content: center;
  max-width: 700px;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  line-height: 1.8;
}
.experience-list {
  list-style: none;
  justify-content: center;
}
.paragraph-line {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: bold;
}
.paragraph-line::after {
  content: "";
  display: block;
  width: 240px;
  height: 3px;
  background-color: #75797d;
  margin: 8px auto 0;
  border-radius: 2px;
  margin-bottom: 2rem;
}
.presentation {
  font-size: 36px;
  font-style: italic;
}
.skill-icons {
  list-style: none;
  padding: 0;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.skill-icons img {
  width: 50px;
  height: auto;
  transition: transform 0.3s;
}
.skill-icons img:hover {
  transform: scale(1.1);
}
.linkedin-link a{
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  justify-content: center;
  color: #007bff;
}
.linkedin-link a:hover{
  color:#03548f;
}
.footer-about{
  background-image: url(bakgrund1.jpg);
  background-position: bottom;
  background-color: rgba(0, 0, 0, 0.485);
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}

/*Contact page*/
.contact-design {
  background-color: #f4f4f4;
  padding: 50px;
  border-radius: 20px;
  margin: 60px auto;
  color: #000000;
  justify-content: center;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
}

.contact-form {
  max-width: 600px;
  text-align: center;
}
.contact-me {
  text-align: center;
}

.project-link {
  margin: 20px;
  padding: 30px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: black;
  text-align: center;
  transition: transform 0.3s ease, box-shadow ease;
  cursor: pointer;
}
.project-link:hover {
  transform: scale(1.1);
  color: #007bff;
}
.project-link p {
  color: #0909096c;
}
/*Projects*/
.margin-text{
  margin-bottom: 1rem;
  margin-top: 1rem;
}
